<h1>レシピ一覧</h1>
<div class="flex">
	<% @recipes.each do |recipe| %>
		<div>
			<div class="recipe-list">
				<%= link_to recipe_path(recipe) do %>
				  <%= attachment_image_tag recipe, :image, :fill, 300, 300 %>
				<% end %>
				<ul>
				  <li><%= render 'recipes/tag_list', tag_list: recipe.tag_list %></li>
				  <li><%= recipe.title %></li>
				  <li id="star-rate-<%= recipe.id %>">評価：</li>
				  <script>
					  $('#star-rate-<%= recipe.id %>').raty({
					    size: 36,
			            starOff:  '<%= asset_path('star-off.png') %>',
			            starOn : '<%= asset_path('star-on.png') %>',
			            starHalf: '<%= asset_path('star-half.png') %>',
			            half: true,
					    readOnly: true,
					    score: '<%= recipe.reviews.average(:rate).to_f.round(1) %>'
					  });
				  </script>
				  <li><%= recipe.updated_at.strftime("%Y-%m-%d")%>更新</li>
				  <li><%= link_to "#{recipe.reviews.count} コメント", recipe_path(recipe.id) %></li>
			      <li><%= link_to user_path(recipe.user.id) do %>
					<%= recipe.user.name %>さんのページへ
				  <% end %>
				</ul>
			</div>
		</div>
	<% end %>
</div>
</div>