<div class="container">
  <div class="row">
    <div class="col-xs-7 col-xs-offset-3">
      <h1>レシピ投稿</h1>
      <%= form_for @recipe do |f| %>
        <div class="row">
          <div class="form-group col-xs-12">
            <%= f.label :レシピ名 %>
            <%= f.text_field :title, class: "form-control form-control-lg" %>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-xs-12">
            <%= f.label :材料 %>
            <%= f.text_area :food_stuff, class: "form-control form-control-lg"  %>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-xs-12">
            <%= f.label :作り方 %>
            <%= f.text_area :procedure, size: "20x7", class: "form-control form-control-lg"  %>
          </div>
        </div>
        <div class="field">
          <%= f.label :レシピ画像 %>
          <%= f.attachment_field :image %>
        </div>
        <div class="row">
          <div class="form-group col-xs-12">
            <%= f.submit '投稿', class: "btn bg-primary btn-block" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
