  <%= form_for @recipe do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :food_stuff %>
      <%= f.text_field :food_stuff %>
    </div>

    <div class="field">
        <%= f.label :procedure %>
        <%= f.text_area :procedure %>
    </div>

    <div class="field">
        <%= f.label :image %>
        <%= f.attachment_field :image %>
    </div>

        <%= f.submit '投稿' %>
  <% end %>
