<div class="container">
  <h1>レシピ投稿</h1>
      <%= nested_form_for(@recipe) do |f| %>
            <%= render 'layouts/error_messages', model: f.object %>
        <table class="table table-bordered">
          <div class="form-group col-xs-12">
            <tr>
              <th><%= f.label :レシピ名 %></th>
              <td><%= f.text_field :title, class: "form-control form-control-lg" %></td>
            </tr>
          </div>
          <div class="form-group col-xs-12">
            <tr>
              <th><%= f.label :材料 %></th>
              <%= f.fields_for :recipe_items do |f| %>
                <td><%= f.text_field :food_stuff, class: "form-control form-control-lg" %>
                <%= f.link_to_remove "削除" %>
              <% end %>
              <%= f.link_to_add "食材の追加", :recipe_items %></td>
            </tr>
          </div>

          <div class="form-group col-xs-12">
            <tr>
              <th><%= f.label :作り方 %></th>
              <%= f.fields_for :recipe_items do |f| %>
                <td><%= f.text_field :procedure, class: "form-control form-control-lg" %>
                <%= f.link_to_remove "削除" %>
              <% end %>
              <%= f.link_to_add "手順の追加", :recipe_items %></td>
            </tr>
          </div>
          <div class="form-group col-xs-12">
            <div class="tags">
              <tr>
                <th><%= f.label :ジャンル %></th>
                <td><%= text_field_tag 'recipe[tag_list]', @recipe.tag_list.join(",") %></td>
              </tr>
            </div>
        　</div>
          <div class="form-group col-xs-12">
            <div class="tags">
              <tr>
                <th><%= f.label :動画 %></th>
                <td><%= f.file_field :video %></td>
              </tr>
            </div>
        　</div>
        <div class="form-group col-xs-12">
          <tr>
            <th><%= f.label :画像 %></th>
                <%= f.file_field :image, class: 'img_field', style: 'display:none;' %></td>
            <td><%= attachment_image_tag @recipe, :image, fallback: 'no_image.png',  onClick: "$('.img_field').click()", class: 'center-block img-responsive img_prev', size: "400x300" %></td>
          </tr>
        </div>
      </table>
          <div class="form-group col-xs-12">
            <%= f.submit '投稿', class: "btn bg-primary btn-block" %>
          </div>
    <% end %>
</div>
