<div class="container">
	<div class="row">
		<h1 class="recipe-headline"><%= @recipe.title %>のレシピ</h1>
		<div class="col-xs-12 col-sm-6 col-md-6">
			<%= attachment_image_tag @recipe, :image, class: "img-fluid mw-100", width: 450, height: 400 %>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6">
					<%= attachment_image_tag @recipe.user, :profile_image, class: "img-fluid mw-100", width: 250, height: 300, fallback: "no_image.png", class: "img-fluid mw-100", width: 250, height: 300 %>
					<ul class="user-show">
						<li>投稿者：<%= @recipe.user.name %></li>
						<% if @recipe.user == current_user %>
						  <li><%= link_to "レシピ編集", edit_recipe_path(@recipe), class: "btn btn-success" %></li>
						<% end %>
						<%= link_to user_path(@recipe.user), class: "btn btn-primary" do %>
						  <%= @recipe.user.name %>さんのページへ
						<% end %>
					</ul>
				</div>
			</div>
	</div>
			<div class="col-xs-10 col-sm-10 col-md-10 col-xs-offset-1">
			<div class="recipe-box">
				<ul class="recipe-info">
					<li><%= render 'recipes/tag_list', tag_list: @recipe.tag_list %>
					</li>
					<li>レシピ名：<%= @recipe.title %></li>
					<li>食材：<%= @recipe.food_stuff %></li>
					<li>作り方：<%= simple_format @recipe.procedure %></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
			<h3>コメント一覧</h3>
			<% @reviews.each do |review| %>
			  <div class="content-box">
				<%= review.created_at.strftime('%Y/%m/%d') %>
				<%= review.content %>
				<div id="star-rate-<%= review.id %>"></div>
		          <script>
		          $('#star-rate-<%= review.id %>').raty({
		            size: 36,
		            starOff:  '<%= asset_path('star-off.png') %>',
		            starOn : '<%= asset_path('star-on.png') %>',
		            starHalf: '<%= asset_path('star-half.png') %>',
		            half: true,
		            readOnly: true,
		            score: <%= review.rate %>,
		          });
		          </script>
				<% if review.user == current_user %>
				  <%= link_to 'コメントを削除する', recipe_review_path(review.recipe, review), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-warning" %>
				<% end %>
			  </div>
			<% end %>
		</div>
		<%= paginate @reviews %>
	</div>
		    <% if user_signed_in? %>
		    <div class="row">
		      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
			    <h3>コメントする</h3>
				  <%= form_for [@recipe, @review] do |f| %>
					<%= f.text_area :content, class: "form-control form-control-lg" %>
					<div class="field" id="star">
						<%= f.label :評価 %>
						<%= f.hidden_field :rate, id: :review_star %>
				    </div>
				    <script>
					  $('#star').raty({
					    size     : 36,
					    starOff:  '<%= asset_path('star-off.png') %>',
					    starOn : '<%= asset_path('star-on.png') %>',
					    starHalf: '<%= asset_path('star-half.png') %>',
					    scoreName: 'review[rate]',
					    half: true,
					  });
					</script>
					<%= f.submit '送信する', class: "btn btn-primary" %>
				  <% end %>
	          </div>
	        </div>
	        <% end %>
</div>
