<div class="top-container">
    <div class="row">
      <h3 class="top-content">ランダムご飯</h3>
    </div>
    <div class="row">
      <p class="top-content-name">
        <% if user_signed_in? %>
          ようこそ！！<%= current_user.name %>さん
        <% else %>
          <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
        <% end %>
      </p>
    </div>

    <div class="container">
      <h3 class="top-list"><i class="fa fa-check"></i>レシピを決める</h3>
        <div class="row">
        <% @recipe.first(3).each do |recipe| %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <%= attachment_image_tag recipe, :image, class: "card-img-top", size: "287x225"%>
              <div class="card-body">
                <p class="card-text">
                  <strong>タイトル：<%= recipe.title %></strong><br>
                  <strong>投稿者　：</strong><%= recipe.user.name %><br>
                  <strong id="star-rate-<%= recipe.id %>">評価　　：</strong>
                  　　　　　　　　<script>
									$('#star-rate-<%= recipe.id %>').raty({
										size: 50,
										starOff:  '<%= asset_path('star-off.png') %>',
										starOn : '<%= asset_path('star-on.png') %>',
										starHalf: '<%= asset_path('star-half.png') %>',
										half: true,
										readOnly: true,
										score: '<%= recipe.reviews.average(:rate).to_f.round(1) %>'
									});
								</script><br>
                </p>
                <div class="d-flex justify-content">

                  <div class="btn-position">
                    <%= link_to "詳細", recipe_path(recipe), class: "btn btn-sm btn-outline-secondary" %>
                  </div>
                  <small class="text-muted">投稿日時：<%= recipe.created_at.strftime('%Y/%m/%d') %></small>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        </div>
        <div style="text-align:center;">
        	<FORM>
			  <INPUT TYPE="button" id="button1" VALUE="レシピを決める" onClick="window.location.reload();"></INPUT>
			</FORM>
    　　</div>
    </div>

    <div class="container">
      <h3 class="top-list"><i class="fas fa-camera"></i>新着投稿</h3>
        <div class="row">
        <% @recipes.first(3).each do |recipe| %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <%= attachment_image_tag recipe, :image, class: "card-img-top", size: "287x225"%>
              <div class="card-body">
                <p class="card-text">
                  <strong>タイトル：<%= recipe.title %></strong><br>
                  <strong>投稿者　：</strong><%= recipe.user.name %><br>
                  <strong id="star-rate-<%= recipe.id %>">評価　　：</strong>
                  　　　　　　　　<script>
									$('#star-rate-<%= recipe.id %>').raty({
										size: 50,
										starOff:  '<%= asset_path('star-off.png') %>',
										starOn : '<%= asset_path('star-on.png') %>',
										starHalf: '<%= asset_path('star-half.png') %>',
										half: true,
										readOnly: true,
										score: '<%= recipe.reviews.average(:rate).to_f.round(1) %>'
									});
								</script><br>
                </p>
                <div class="d-flex justify-content">

                  <div class="btn-position">
                    <%= link_to "詳細", recipe_path(recipe), class: "btn btn-sm btn-outline-secondary" %>
                  </div>
                  <small class="text-muted">投稿日時：<%= recipe.created_at.strftime('%Y/%m/%d') %></small>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        </div>
        <div style="text-align:center;">
        <%= link_to '新着投稿を見る', recipes_path, class: "btn page-link text-dark d-inline-block rounded-pill"  %>
    　　</div>
    </div>
</div>



