 <div class="container">
  <div class="row">
	 <h1 class="header-line">投稿者一覧</h1>
	  <% @users.each do |user| %>
	  <div class="col-xs-6 col-sm-4 col-md-3">
	       <%= attachment_image_tag user, :profile_image, class: "img-fluid mw-100", width: 350, height: 250, fallback: "no_image.png", class: "img-fluid mw-100", width: 350, height: 250  %>
	       <%= link_to user_path(user) do %>
	       <p><%= user.name %>さんのレシピへ</p>
	       <% end %>
	       投稿数:<%= user.recipes.count %>
	     </div>
	 <% end %>
  </div>
 <%= paginate @users %>
</div>


