<!DOCTYPE html>
<html>
  <head>
    <title>FoodDecision</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <nav class="navbar navbar-light bg-primary">
  　  <div class="container-fluid">
    　　<ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'レシピ一覧', recipes_path, :style=>"color:white;" %></li>
          <li><%= link_to '投稿者一覧', users_path, :style=>"color:white;" %></li>
          <li><%= link_to '投稿ページ', new_recipe_path, :style=>"color:white;" %></li>
          <li><%= link_to 'マイページ', user_path(current_user), :style=>"color:white;" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, :style=>"color:white;"%></li>
       </ul>
      </div>
    </nav>
    <% else %>
    <nav class="navbar navbar-light bg-primary">
  　  <div class="container-fluid">
    　　<ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'レシピ一覧', recipes_path, :style=>"color:white;" %></li>
          <li><%= link_to '投稿者一覧', users_path, :style=>"color:white;" %></li>
          <li><%= link_to 'ログイン', new_user_session_path, :style=>"color:white;" %></li>
          <li><%= link_to '新規会員登録', new_user_registration_path, :style=>"color:white;" %></li>
        </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
