<!DOCTYPE html>
<html>
<head>
  <title>ランダムご飯</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/bd2127829f.js" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar navbar-default" style="margin:0">
    <div class="navbar-header">
      <%= link_to 'ランダムご飯', root_path, class: "navbar-brand" %>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <% if user_signed_in? %>
      <div class="collapse navbar-collapse" id="top-nav">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'このサイトについて', homes_about_path, class: "glyphicon glyphicon-star" %></li>
          <li><%= link_to '投稿ページ', new_recipe_path, class: "glyphicon glyphicon-pencil" %></li>
          <li><%= link_to 'マイページ', user_path(current_user), class: "glyphicon glyphicon-user" %></li>
          <li><%= link_to 'ログアウト',destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out" %></li>
        </ul>
      </div>
    <% else %>
      <div class="collapse navbar-collapse" id="top-nav">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'このサイトについて', homes_about_path, class: "glyphicon glyphicon-star" %></li>
          <li><%= link_to 'ログイン', new_user_session_path, class: "glyphicon glyphicon-log-in" %></li>
          <li><%= link_to '新規会員登録', new_user_registration_path, class: "glyphicon glyphicon-user" %></li>
        </ul>
      </div>
    <% end %>
    <div id="sp-menu">
      <% if user_signed_in? %>
        <ul style="margin-top:0px;">
          <li><i class="fa fa-user fa-2x"></i><%= link_to '　マイページ', user_path(current_user.id) %></li>
          <li><i class="fa fa-home fa-2x"></i><%= link_to '　トップページ', root_path %></li>
          <li><i class="fa fa-sticky-note-o fa-2x"></i><%= link_to '　About', homes_about_path %></li>
          <li><i class="fa fa-pencil-square-o fa-2x"></i> <%= link_to '　投稿', new_recipe_path %></li>
          <li><i class="fa fa-sign-out fa-2x"></i><%= link_to '　ログアウト',destroy_user_session_path, method: :delete %></li>
        </ul>
      <% else %>
        <ul style="margin-top:0px;">
          <li><i class="fa fa-home fa-2x"></i><%= link_to '　トップページ', root_path %></li>
          <li><i class="fa fa-sticky-note-o fa-2x"></i><%= link_to '　About', homes_about_path %></li>
          <li><i class="fa fa-sign-in fa-2x"></i><%= link_to '　ログイン', new_user_session_path %></li>
          <li><i class="fa fa-user fa-2x"></i><%= link_to '　新規登録', new_user_registration_path %></li>
        </ul>
      <% end %>
    </div>
    <div id="hm-icon">
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
  </nav>
  <%= yield %>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>

