<!DOCTYPE html>
<html>
<head>
  <title>ランダムご飯</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/bd2127829f.js" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar navbar-default" style="margin:0">
    <div class="navbar-header">
      <%= link_to 'ランダムご飯', root_path, class: "navbar-brand" %>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <% if user_signed_in? %>
      <div class="collapse navbar-collapse" id="top-nav">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'このサイトについて', recipes_about_path, class: "glyphicon glyphicon-star" %></li>
          <li><%= link_to '投稿ページ', new_recipe_path, class: "glyphicon glyphicon-pencil" %></li>
          <li><%= link_to 'マイページ', user_path(current_user), class: "glyphicon glyphicon-user" %></li>
          <li><%= link_to 'ログアウト',destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out" %></li>
        </ul>
      </div>
    <% else %>
      <div class="collapse navbar-collapse" id="top-nav">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'このサイトについて', recipes_about_path, class: "glyphicon glyphicon-star" %></li>
          <li><%= link_to 'ログイン', new_user_session_path, class: "glyphicon glyphicon-log-in" %></li>
          <li><%= link_to '新規会員登録', new_user_registration_path, class: "glyphicon glyphicon-user" %></li>
        </ul>
      </div>
    <% end %>
  </nav>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>
  <nav class="navbar navbar-fixed-bottom" style="background-color:#EEEEEE;">
    <% if user_signed_in? %>
        <ul id="nav">
        <li><%= link_to '投稿者一覧', users_path, class: "glyphicon glyphicon-th-list" %></li>
          <li><%= link_to 'レシピ一覧', recipes_path, class: "glyphicon glyphicon-cutlery" %></li>
          <li><%= link_to 'マイページ', user_path(current_user), class: "glyphicon glyphicon-user" %></li>
      </ul>
      <% else %>
      <ul id="nav">
        <li><%= link_to '投稿者一覧', users_path, class: "glyphicon glyphicon-th-list" %></li>
          <li><%= link_to 'レシピ一覧', recipes_path, class: "glyphicon glyphicon-cutlery" %></li>
          <li><%= link_to 'ログイン', new_user_session_path, class: "glyphicon glyphicon-log-in" %></li>
      </ul>
<% end %>
</nav>
  <%= yield %>
</body>
</html>

